%h1
  Hello, Scrum Master!

= form_for @standup, html: { class: 'mailform' } do |f|
  .input
    - @groups.each do |group|
      .groups
        .team-members
          - group.team_members.each do |team_member|
            .team-member
              .name team_member.fullname
              .notes
                .yesterday Yesterday I did many stories
                .today Today I will take a nap
