%h1
  Hello, Scrum Master!

.mailform
  .input
    .devs.groups
      -# .heading Developers
      .team-members
        .team-member.dev--alex
          .name Alex
          .notes
            .yesterday Yesterday I did many stories
            .today Today I will take a nap
        .team-member.dev--arelia
          .name Arelia
          .notes
            .yesterday Yesterday I did many stories
            .today Today I will take a nap
        .team-member.dev--elliott
          .name Elliott
          .notes
            .yesterday Yesterday I did many stories
            .today Today I will take a nap
    .pos.groups
      -# .heading Product Owners
      .team-members
        .team-member.pos--stephanie
          .name Stephanie
          .notes Today I will also take a nap
        .team-member.pos--justin
          .name Justin
          .notes Today I will also take a nap
        .team-member.pos--kristie
          .name Kristie
          .notes Today I will also take a nap
  .output
    This is the example email
