$border: 1px solid #999;

$color-purple: #3f51b5;

body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.greeting {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/ST_vs_Gloucester_-_Match_-_23.JPG);
  background-size: cover;
  height: 20vh;
  background-position: center;
  display: flex;
  align-items: flex-end;

  h1 {
    color: white;
    margin-bottom: 10px;
  }
}

.mailform {
  border: $border;
  display: flex;
  flex-wrap: nowrap;
}

.input {
  flex-grow: 2;
}

.groups {
  display: flex;
  width: 100%;
  border-bottom: $border;
  border-width: 2px;

  &:last-child {
    border-bottom: 0;
  }
}

.team-members {
  width: 100%;
}

.team-member {
  display: flex;
  border-bottom: $border;
  width: 100%;

  &:last-child {
    border-bottom: 0;
  }
}


.name {
  border-right: $border;
  border-width: 2px;
  min-width: 100px;
  background-color: $color-purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  font-size: 18px;
}

.notes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.yesterday,
.today {
  height: 100%;
  flex-grow: 1;
}

.yesterday {
  border-right: $border;
}
